*~
/cachesymlinks/.python_history
neovim/.config/nvim/.netrwhist
/neovim/.local/share/nvim/shada/
/fonts/.fonts/.uuid
/neovim/.config/nvim/plugged/
/wayland/.local/bin/evscript
emacs/.doom.d/custom.el
